/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
/staticfiles/admin/css/vendor/select2/select2.css
/staticfiles/admin/css/vendor/select2/select2.min.css
/staticfiles/admin/css/autocomplete.css
/staticfiles/admin/css/base.css
/staticfiles/admin/css/changelists.css
/staticfiles/admin/css/dark_mode.css
/staticfiles/admin/css/dashboard.css
/staticfiles/admin/css/forms.css
/staticfiles/admin/css/login.css
/staticfiles/admin/css/nav_sidebar.css
/staticfiles/admin/css/responsive.css
/staticfiles/admin/css/responsive_rtl.css
/staticfiles/admin/css/rtl.css
/staticfiles/admin/css/widgets.css
/staticfiles/admin/img/gis/move_vertex_off.svg
/staticfiles/admin/img/gis/move_vertex_on.svg
/staticfiles/admin/img/calendar-icons.svg
/staticfiles/admin/img/icon-addlink.svg
/staticfiles/admin/img/icon-alert.svg
/staticfiles/admin/img/icon-calendar.svg
/staticfiles/admin/img/icon-changelink.svg
/staticfiles/admin/img/icon-clock.svg
/staticfiles/admin/img/icon-deletelink.svg
/staticfiles/admin/img/icon-hidelink.svg
/staticfiles/admin/img/icon-no.svg
/staticfiles/admin/img/icon-unknown.svg
/staticfiles/admin/img/icon-unknown-alt.svg
/staticfiles/admin/img/icon-viewlink.svg
/staticfiles/admin/img/icon-yes.svg
/staticfiles/admin/img/inline-delete.svg
/staticfiles/admin/img/LICENSE
/staticfiles/admin/img/README.txt
/staticfiles/admin/img/search.svg
/staticfiles/admin/img/selector-icons.svg
/staticfiles/admin/img/sorting-icons.svg
/staticfiles/admin/img/tooltag-add.svg
/staticfiles/admin/img/tooltag-arrowright.svg
/staticfiles/admin/js/admin/DateTimeShortcuts.js
/staticfiles/admin/js/admin/RelatedObjectLookups.js
/staticfiles/admin/js/vendor/jquery/jquery.js
/staticfiles/admin/js/vendor/jquery/jquery.min.js
/staticfiles/admin/js/vendor/jquery/LICENSE.txt
/staticfiles/admin/js/vendor/select2/i18n/af.js
/staticfiles/admin/js/vendor/select2/i18n/ar.js
/staticfiles/admin/js/vendor/select2/i18n/az.js
/staticfiles/admin/js/vendor/select2/i18n/bg.js
/staticfiles/admin/js/vendor/select2/i18n/bn.js
/staticfiles/admin/js/vendor/select2/i18n/bs.js
/staticfiles/admin/js/vendor/select2/i18n/ca.js
/staticfiles/admin/js/vendor/select2/i18n/cs.js
/staticfiles/admin/js/vendor/select2/i18n/da.js
/staticfiles/admin/js/vendor/select2/i18n/de.js
/staticfiles/admin/js/vendor/select2/i18n/dsb.js
/staticfiles/admin/js/vendor/select2/i18n/el.js
/staticfiles/admin/js/vendor/select2/i18n/en.js
/staticfiles/admin/js/vendor/select2/i18n/es.js
/staticfiles/admin/js/vendor/select2/i18n/et.js
/staticfiles/admin/js/vendor/select2/i18n/eu.js
/staticfiles/admin/js/vendor/select2/i18n/fa.js
/staticfiles/admin/js/vendor/select2/i18n/fi.js
/staticfiles/admin/js/vendor/select2/i18n/fr.js
/staticfiles/admin/js/vendor/select2/i18n/gl.js
/staticfiles/admin/js/vendor/select2/i18n/he.js
/staticfiles/admin/js/vendor/select2/i18n/hi.js
/staticfiles/admin/js/vendor/select2/i18n/hr.js
/staticfiles/admin/js/vendor/select2/i18n/hsb.js
/staticfiles/admin/js/vendor/select2/i18n/hu.js
/staticfiles/admin/js/vendor/select2/i18n/hy.js
/staticfiles/admin/js/vendor/select2/i18n/id.js
/staticfiles/admin/js/vendor/select2/i18n/is.js
/staticfiles/admin/js/vendor/select2/i18n/it.js
/staticfiles/admin/js/vendor/select2/i18n/ja.js
/staticfiles/admin/js/vendor/select2/i18n/ka.js
/staticfiles/admin/js/vendor/select2/i18n/km.js
/staticfiles/admin/js/vendor/select2/i18n/ko.js
/staticfiles/admin/js/vendor/select2/i18n/lt.js
/staticfiles/admin/js/vendor/select2/i18n/lv.js
/staticfiles/admin/js/vendor/select2/i18n/mk.js
/staticfiles/admin/js/vendor/select2/i18n/ms.js
/staticfiles/admin/js/vendor/select2/i18n/nb.js
/staticfiles/admin/js/vendor/select2/i18n/ne.js
/staticfiles/admin/js/vendor/select2/i18n/nl.js
/staticfiles/admin/js/vendor/select2/i18n/pl.js
/staticfiles/admin/js/vendor/select2/i18n/ps.js
/staticfiles/admin/js/vendor/select2/i18n/pt.js
/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
/staticfiles/admin/js/vendor/select2/i18n/ro.js
/staticfiles/admin/js/vendor/select2/i18n/ru.js
/staticfiles/admin/js/vendor/select2/i18n/sk.js
/staticfiles/admin/js/vendor/select2/i18n/sl.js
/staticfiles/admin/js/vendor/select2/i18n/sq.js
/staticfiles/admin/js/vendor/select2/i18n/sr.js
/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
/staticfiles/admin/js/vendor/select2/i18n/sv.js
/staticfiles/admin/js/vendor/select2/i18n/th.js
/staticfiles/admin/js/vendor/select2/i18n/tk.js
/staticfiles/admin/js/vendor/select2/i18n/tr.js
/staticfiles/admin/js/vendor/select2/i18n/uk.js
/staticfiles/admin/js/vendor/select2/i18n/vi.js
/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
/staticfiles/admin/js/vendor/select2/LICENSE.md
/staticfiles/admin/js/vendor/select2/select2.full.js
/staticfiles/admin/js/vendor/select2/select2.full.min.js
/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
/staticfiles/admin/js/vendor/xregexp/xregexp.js
/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
/staticfiles/admin/js/actions.js
/staticfiles/admin/js/autocomplete.js
/staticfiles/admin/js/calendar.js
/staticfiles/admin/js/cancel.js
/staticfiles/admin/js/change_form.js
/staticfiles/admin/js/collapse.js
/staticfiles/admin/js/core.js
/staticfiles/admin/js/filters.js
/staticfiles/admin/js/inlines.js
/staticfiles/admin/js/jquery.init.js
/staticfiles/admin/js/nav_sidebar.js
/staticfiles/admin/js/popup_response.js
/staticfiles/admin/js/prepopulate.js
/staticfiles/admin/js/prepopulate_init.js
/staticfiles/admin/js/SelectBox.js
/staticfiles/admin/js/SelectFilter2.js
/staticfiles/admin/js/theme.js
/staticfiles/admin/js/urlify.js
/staticfiles/images/agency.png
/staticfiles/images/agency (10).png
/staticfiles/images/agency (11).png
/staticfiles/images/agency (12).png
/staticfiles/images/agency (14).png
/staticfiles/images/background.png
/staticfiles/images/banner.png
/staticfiles/images/billboard.png
/staticfiles/images/billboard (2).png
/staticfiles/images/billboard 1.png
/staticfiles/images/design.png
/staticfiles/images/design (11).png
/staticfiles/images/design (12).png
/staticfiles/images/design (13).png
/staticfiles/images/digital.png
/staticfiles/images/magazine.png
/staticfiles/images/magazine (14).png
/staticfiles/images/magazine (15).png
/staticfiles/images/magazine (16).png
/staticfiles/images/magazine (17).png
/staticfiles/images/magazine (23).png
/staticfiles/images/magazine (24).png
/staticfiles/images/printing department.png
/staticfiles/images/printing department (2).png
/staticfiles/images/printing department (3).png
/staticfiles/images/printing department (5).png
/staticfiles/images/printing department1.png
/staticfiles/images/radio.png
/staticfiles/images/radio (13).png
/staticfiles/images/radio (14).png
/staticfiles/images/radio (15).png
/staticfiles/images/shcool.png
/staticfiles/images/souvenir.png
/staticfiles/images/souvenir (10).png
/staticfiles/images/souvenir (16).png
/staticfiles/images/souvenir (17).png
/staticfiles/images/tomskru.png
/staticfiles/logo/agency.png
/staticfiles/logo/banner.png
/staticfiles/logo/bridge.png
/staticfiles/logo/decorator.png
/staticfiles/logo/desing.png
/staticfiles/logo/dpi.png
/staticfiles/logo/expensive.png
/staticfiles/logo/first_com.png
/staticfiles/logo/fm.png
/staticfiles/logo/fortis.png
/staticfiles/logo/grandprint.png
/staticfiles/logo/logo.png
/staticfiles/logo/logo_f.png
/staticfiles/logo/rde.png
/staticfiles/logo/school.png
/staticfiles/logo/street lite.png
/staticfiles/logo/street media.png
/staticfiles/logo/tomskru.png
/staticfiles/logo/vk-icon.png
/staticfiles/logo/whatsapp-icon.png
/staticfiles/logo/wooden horse.png
/staticfiles/scripts.js
/staticfiles/styles.css
/venv/
/rde/test/
