<!-- footer.html -->
{% load static %}
<footer class="footer">
    <div class="footer__top">
        <div class="footer__logo">
            <img src="{% static 'logo/logo_f.png' %}" alt="Дайджест Группа Компаний">
        </div>
        <div class="footer__social">
            <a href="#"><img src="{% static 'logo/whatsapp-icon.png' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'logo/vk-icon.png' %}" alt="VK"></a>
        </div>
    </div>
    <div class="footer__columns">
         <div class="footer__column">
            <h3>Рекламные услуги</h3>
            <ul>
                <li><a href="javascript:void(0);" onclick="scrollToSection('agency')">Агентство</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('printing')">Полиграфический комплекс</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('billboard')">Наружная реклама</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('digital')">Диджитал</a></li>
            </ul>
            <h3>Медиа и публикации</h3>
            <ul>
                <li><a href="javascript:void(0);" onclick="scrollToSection('magazine')">Журналы</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('tomskru')">Tomsk.ru</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('radio')">Радиохолдинг</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3>Дизайн и производство</h3>
            <ul>
                <li><a href="javascript:void(0);" onclick="scrollToSection('souvenir')">Производство сувениров</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('design')">Дизайн</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('art')">Прикладное искусство</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('shcool')">Школа продаж</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3>Контакты</h3>
            <address>
                <strong>«Рекламный дайджест»</strong><br>
                Россия, 634002<br>
                г. Томск, ул. Герцена, 72 б<br>
                <br>
                Мы работаем:<br>
                пн - пт 9.00 - 18.00<br>
                сб, вс - выходной<br>
                <br>
                <strong>Телефон:</strong> 8 (3822) 52 10 01<br>
                <strong>Email:</strong> <a href="mailto:reklama@rde.ru">reklama@rde.ru</a><br>
                <strong>Сайт:</strong> <a href="http://www.rde.ru">www.rde.ru</a>
            </address>
        </div>
        <div class="footer__column">
            <div class="footer__map">
                <div id="map" style="width: 250px; height: 250px"></div>
            </div>
        </div>
    </div>
    ©2024 «Рекламный дайджест»
</footer>
<script src="https://api-maps.yandex.ru/2.0-stable/?apikey=d5a88613-6fb4-4358-826a-43328e091666&load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap,
    myPlacemark;

    function init(){
        myMap = new ymaps.Map("map", {
            center: [56.474097, 84.987237],
            zoom: 19
        });

        myPlacemark = new ymaps.Placemark([56.474097, 84.987237], {
            hintContent: 'Москва!',
            balloonContent: 'Столица России'
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script>