<!-- footer.html -->
{% load static %}
<footer class="footer">
    <div class="footer__top">
        <div class="footer__logo">
            <img src="{% static 'logo/logo_f.png' %}" alt="Дайджест Группа Компаний">
        </div>
        <div class="footer__social">
            <a href="#"><img src="{% static 'logo/whatsapp-icon.png' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'logo/vk-icon.png' %}" alt="VK"></a>
        </div>
    </div>
    <div class="footer__columns">
        <div class="footer__column">
            <h3>Информация</h3>
            <h3>О нас</h3>
            <ul>
                <li><a href="#">История</a></li>
                <li><a href="#">Преимущества</a></li>
            </ul>
            <h3>Партнерам</h3>
            <ul>
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Предложения</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3>Услуги</h3>
            <ul>
                <li><a href="#">Агентство</a></li>
                <li><a href="#">Полиграфический комплекс</a></li>
                <li><a href="#">Наружная реклама</a></li>
                <li><a href="#">Глянцевые журналы</a></li>
                <li><a href="#">Производство сувениров</a></li>
                <li><a href="#">Информационный портал</a></li>
                <li><a href="#">Радиохолдинг</a></li>
                <li><a href="#">Дизайн</a></li>
                <li><a href="#">Диджитал-агентство</a></li>
                <li><a href="#">Прикладное искусство</a></li>
                <li><a href="#">Школа продаж</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <h3>Контакты</h3>
            <address>
                <strong>«Рекламный дайджест»</strong><br>
                Россия, 634002<br>
                г. Томск, ул. Герцена, 72 б<br>
                <br>
                Мы работаем:<br>
                пн - пт 9.00 - 18.00<br>
                сб, вс - выходной<br>
                <br>
                <strong>Телефон:</strong> 8 (3822) 52 10 01<br>
                <strong>Email:</strong> <a href="mailto:reklama@rde.ru">reklama@rde.ru</a><br>
                <strong>Сайт:</strong> <a href="http://www.rde.ru">www.rde.ru</a>
            </address>
        </div>
        <div class="footer__column">
            <div class="footer__map">
                <img src="map-placeholder.png" alt="Карта">
            </div>
        </div>
    </div>

    <div class="footer__partners">
        <img src="{% static 'logo/rde.png' %}" alt="">
        <img src="{% static 'logo/grandprint.png' %}" alt="">
        <img src="{% static 'logo/street%20media.png' %}" alt="">
        <img src="{% static 'logo/fm.png' %}" alt="">
        <img src="{% static 'logo/first_com.png' %}" alt="">
        <img src="{% static 'logo/school.png' %}" alt="">
        <img src="{% static 'logo/dpi.png' %}" alt="">
        <img src="{% static 'logo/agency.png' %}" alt="">
        <img src="{% static 'logo/tomskru.png' %}" alt="">
        <img src="{% static 'logo/expensive.png' %}" alt="">
        <img src="{% static 'logo/wooden%20horse.png' %}" alt="">
        <img src="{% static 'logo/bridge.png' %}" alt="">
        <img src="{% static 'logo/fortis.png' %}" alt="">
        <img src="{% static 'logo/decorator.png' %}" alt="">
        <img src="{% static 'logo/street%20lite.png' %}" alt="">
        <img src="{% static 'logo/desing.png' %}" alt="">
    </div>
</footer>
