{% load static %}

<header>
    <div class="container">
        <div class="header__left">
            <div class="header__logo">
                <a href="javascript:void(0);" onclick="scrollToSection('banner-slider')"><img src="{% static 'logo/logo.png' %}" alt="Дайджест Группа Компаний"></a>
            </div>
        </div>
        <div class="header__center">
            <div class="header__top">
                <span class="header__address">Россия, г. Томск, ул. Герцена, 72 б</span>
                <span class="header__phone">8 (3822) 52 10 01</span>
            </div>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('agency')">Агентство</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('printing')">Полиграфический комплекс</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('billboard')">Наружная реклама</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('digital')">Диджитал</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('magazine')">Журналы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('tomskru')">Tomsk.ru</a>
                    </li>
                   <li>
                       <a href="javascript:void(0);" onclick="scrollToSection('design')">Дизайн</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('art')">Прикладное искусство</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" onclick="scrollToSection('shcool')">Школа продаж</a>
                    </li>


                </ul>
            </nav>
        </div>
        <div class="header__right">
            <div class="header__cta">
                <button class="cta-button" onclick="openModal()">Заказать звонок</button>
            </div>
            <div class="header__time-wrapper">
                <span>Сейчас в Томске</span>
                <span id="current-time" class="header__time"></span>
            </div>
        </div>
        <button class="menu-button" onclick="toggleMenu()" aria-label="Toggle navigation">
            &#9776;
        </button>
    </div>
</header>
<div class="mobile-menu" id="mobileMenu">
    <ul>
        <li><a href="javascript:void(0);" onclick="scrollToSection('agency')">Агентство</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('printing')">Полиграфический комплекс</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('billboard')">Наружная реклама</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('magazine')">Журналы</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('souvenir')">Производство сувениров</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('tomskru')">Tomsk.ru</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('radio')">Радиохолдинг</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('design')">Дизайн</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('digital')">Диджита</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('art')">Прикладное искусство</a></li>
        <li><a href="javascript:void(0);" onclick="scrollToSection('shcool')">Школа продаж</a></li>
    </ul>
</div>
<script>
    // Функция для обновления текущего времени
    function updateTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const currentTime = `${hours}:${minutes}`;
        document.getElementById('current-time').textContent = currentTime;
    }

    // Обновляем время каждую секунду
    setInterval(updateTime, 1000);

    // Устанавливаем начальное время
    updateTime();

    // Адаптивное меню
    function toggleMenu() {
        const menu = document.getElementById('mobileMenu');
        menu.classList.toggle('active');
    }

    function scrollToSection(id) {
        var element = document.getElementById(id);
        element.scrollIntoView({ behavior: 'smooth' });
        const menu = document.getElementById('mobileMenu');
        const drop_menu = document.getElementById('dropdown-content');
        console.log(drop_menu);
        if (menu.classList.contains('active')) {
            menu.classList.toggle('active');

        }
    }
</script>
{% block content %}{% endblock %}
</body>
</html>
