<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="info-section">
    <div class="info-grid">
        <div class="info-item">
            <h3>Рекламное агентство</h3>
            <ul>
                <li>Агентство полного цикла</li>
                <li>Рекламные кампании</li>
                <li>Полное сопровождение</li>
                <li>Маркетинг</li>
                <li>Ваш личный менеджер</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Полиграфический комплекс</h3>
            <ul>
                <li>Листовки</li>
                <li>Газеты</li>
                <li>Наклейки</li>
                <li>Книги</li>
                <li>Журналы</li>
                <li>Визитки</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Наружная реклама</h3>
            <ul>
                <li>Билборды (6х3 м) – 385 сторон</li>
                <li>Сити-форматы (1,2х1,8 м) – 58 сторон</li>
                <li>Суперсайты (15х5 м) – 9 сторон</li>
                <li>Печать</li>
                <li>Производство стендов</li>
                <li>Вывески, указатели</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Журнал "Дорогое удовольствие" "МОСТ"</h3>
            <ul>
                <li>Статьи</li>
                <li>Интервью</li>
                <li>Поздравления</li>
                <li>Новости</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Производство сувениров</h3>
            <ul>
                <li>Производство флагов</li>
                <li>Любые нанесения на одежду (футболки, куртки)</li>
                <li>Любые сувениры</li>
                <li>Пледы, шторы, скатерти</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Информационный портал Tomsk.ru</h3>
            <ul>
                <li>Новости</li>
                <li>Подкасты</li>
                <li>Интервью</li>
                <li>Домены в зоне tomsk.ru</li>
                <li>Видео</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Радиохолдинг - 14 радиостанций</h3>
            <ul>
                <li>Продакшн-студия</li>
                <li>Ролики</li>
                <li>Интервью</li>
                <li>Поздравления</li>
                <li>Подкасты</li>
                <li>Выездная студия</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Отдел дизайна</h3>
            <ul>
                <li>Полиграфия</li>
                <li>Наружная реклама</li>
                <li>Книги</li>
                <li>Буклеты</li>
                <li>Логотипы</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Диджитал-агентство</h3>
            <ul>
                <li>Аудит</li>
                <li>Разработка сайтов, посадочных страниц</li>
                <li>Настройка рекламы</li>
                <li>Исследования ЦА</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Отдел прикладного искусства</h3>
            <ul>
                <li>Томская лошадка</li>
                <li>Нестандартные изделия из дерева</li>
                <li>Сувениры ручной работы</li>
                <li>Поддоны и упаковка</li>
                <li>Мастер-классы и обучение</li>
            </ul>
        </div>
        <div class="info-item">
            <h3>Школа продаж</h3>
            <ul>
                <li>Аудит и стратегия отдела продаж</li>
                <li>Тренинги продаж (от холодных до розничных)</li>
                <li>Аудит и стратегия отдела маркетинга</li>
                <li>Корпоративная система обучения сотрудников</li>
            </ul>
        </div>
    </div>
</section>
<div class="slider-container-wrapper">
    <button class="prev" onclick="prevSlide()">&#10094;</button>
    <div class="slider">
        <div class="slider-container" id="slider-container">
            <div class="slider-item">
                <img src="{% static 'images/agency.png' %}" alt="Рекламное агентство">
                <img src="{% static 'images/agency.png' %}" alt="Рекламное агентство">
                <img src="{% static 'images/agency.png' %}" alt="Рекламное агентство">
            </div>
        </div>
    </div>
    <button class="next" onclick="nextSlide()">&#10095;</button>
</div>
<div class="dots-container">
    {% for image in images %}
    <span class="dot" onclick="currentSlide({{ forloop.counter0 }})"></span>
    {% endfor %}
</div>

<section id="banner">
    <img src="{% static 'images/banner.png' %}" alt="Баннер в стиле Василия Кандинского">
    <div class="banner-text">
        <h2>РЕКЛАМНЫЙ</h2><h2>ДАЙДЖЕСТ</h2>
        <p>в стиле Василия Кандинского</p>
    </div>
</section>

<section class="page">
    <img src="{% static 'images/agency.png' %}" alt="Рекламное агентство" class="page-img">
    <div class="page-text">
        <h2>Рекламное агентство</h2>
        <ul>
            <li>Агентство полного цикла</li>
            <li>Рекламные кампании</li>
            <li>Полное сопровождение</li>
            <li>Маркетинг</li>
            <li>Ваш личный менеджер</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/logo.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>

<section class="page">
    <img src="{% static 'images/printing%20department.png' %}" alt="Полиграфический комплекс" class="page-img">
    <div class="page-text">
        <h2>Полиграфический комплекс</h2>
        <ul>
            <li>Листовки</li>
            <li>Газеты</li>
            <li>Наклейки</li>
            <li>Книги</li>
            <li>Журналы</li>
            <li>Визитки</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/grandprint.png' %}" alt="Полиграфический комплекс" class="page-logo">
        </div>
    </div>
</section>

<section class="page">
    <img src="{% static 'images/billboard.png' %}" alt="Наружная реклама" class="page-img">
    <div class="page-text">
        <h2>Наружная реклама</h2>
        <ul>
            <li>Билборды (6х3 м) – 385 сторон</li>
            <li>Сити-форматы (1,2х1,8 м) – 58 сторон</li>
            <li>Суперсайты (15х5 м) – 9 сторон</li>
            <li>Печать</li>
            <li>Производство стендов</li>
            <li>Вывески, указатели</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/street%20media.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>

<section class="page">
    <img src="{% static 'images/magazine.png' %}" alt='Журнал "Дорогое удовольствие" "МОСТ"' class="page-img">
    <div class="page-text">
        <h2>Журнал "Дорогое удовольствие" "МОСТ"</h2>
        <ul>
            <li>Статьи</li>
            <li>Интервью</li>
            <li>Поздравления</li>
            <li>Новости</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/expensive.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/bridge.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>

    </div>
</section>

<section class="page">
    <img src="{% static 'images/souvenir.png' %}" alt="Производство сувениров" class="page-img">
    <div class="page-text">
        <h2>Производство сувениров</h2>
        <ul>
            <li>Производство флагов</li>
            <li>Любые нанесения на одежду (футболки, куртки)</li>
            <li>Любые сувениры</li>
            <li>Пледы, шторы, скатерти</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/first_com.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>

<section class="page">
    <img src="{% static 'images/tomskru.png' %}" alt="Информационный портал Tomsk.ru" class="page-img">
    <div class="page-text">
        <h2>Информационный портал Tomsk.ru</h2>
        <ul>
            <li>Новости</li>
            <li>Подкасты</li>
            <li>Интервью</li>
            <li>Домены в зоне tomsk.ru</li>
            <li>Видео</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/tomskru.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>


<section class="page">
    <img src="{% static 'images/radio.png' %}" alt="Радиохолдинг - 14 радиостанций" class="page-img">
    <div class="page-text">
        <h2>Радиохолдинг - 14 радиостанций</h2>
        <ul>
            <li>Продакшн-студия</li>
            <li>Ролики</li>
            <li>Интервью</li>
            <li>Поздравления</li>
            <li>Подкасты</li>
            <li>Выездная студия</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/fm.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>


<section class="page">
    <img src="{% static 'images/design.png' %}" alt="Отдел дизайна" class="page-img">
    <div class="page-text">
        <h2>Отдел дизайна</h2>
        <ul>
            <li>Полиграфия</li>
            <li>Наружная реклама</li>
            <li>Книги</li>
            <li>Буклеты</li>
            <li>Логотипы</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/desing.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>


<section class="page">
    <img src="{% static 'images/digital.png' %}" alt="Рекламное агентство" class="page-img">
    <div class="page-text">
        <h2>Диджитал-агентство</h2>
        <ul>
            <li>Аудит</li>
            <li>Разработка сайтов, посадочных страниц</li>
            <li>Настройка рекламы</li>
            <li>Исследования ЦА</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/agency.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>


<section class="page">
    <img src="{% static 'images/tomskru.png' %}" alt="Рекламное агентство" class="page-img">
    <div class="page-text">
        <h2>Отдел прикладного искусства</h2>
        <ul>
            <li>Томская лошадка</li>
            <li>Нестандартные изделия из дерева</li>
            <li>Сувениры ручной работы</li>
            <li>Поддоны и упаковка</li>
            <li>Мастер-классы и обучение</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/wooden%20horse.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>


<section class="page">
    <img src="{% static 'images/shcool.png' %}" alt="Рекламное агентство" class="page-img">
    <div class="page-text">
        <h2>Школа продаж</h2>
        <ul>
            <li>Аудит и стратегия отдела продаж</li>
            <li>Тренинги продаж (от холодных до розничных)</li>
            <li>Аудит и стратегия отдела маркетинга</li>
            <li>Корпоративная система обучения сотрудников</li>
        </ul>
        <div class="page-about">
            <a href="http://adress.ru" class="page-link">Перейти на сайт</a>
            <img src="{% static 'logo/school.png' %}" alt="Рекламный Дайджест Агентство" class="page-logo">
        </div>
    </div>
</section>
        <div class="footer__column">
            <h3>Информация</h3>
            <h3>О нас</h3>
            <ul>
                <li><a href="#">История</a></li>
                <li><a href="#">Преимущества</a></li>
            </ul>
            <h3>Партнерам</h3>
            <ul>
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Предложения</a></li>
            </ul>
        </div>
<!--
<div class="footer__partners">
    <img src="{% static 'logo/rde.png' %}" alt="">
    <img src="{% static 'logo/grandprint.png' %}" alt="">
    <img src="{% static 'logo/street%20media.png' %}" alt="">
    <img src="{% static 'logo/fm.png' %}" alt="">
    <img src="{% static 'logo/first_com.png' %}" alt="">
    <img src="{% static 'logo/school.png' %}" alt="">
    <img src="{% static 'logo/dpi.png' %}" alt="">
    <img src="{% static 'logo/agency.png' %}" alt="">
    <img src="{% static 'logo/tomskru.png' %}" alt="">
    <img src="{% static 'logo/expensive.png' %}" alt="">
    <img src="{% static 'logo/wooden%20horse.png' %}" alt="">
    <img src="{% static 'logo/bridge.png' %}" alt="">
    <img src="{% static 'logo/fortis.png' %}" alt="">
    <img src="{% static 'logo/decorator.png' %}" alt="">
    <img src="{% static 'logo/street%20lite.png' %}" alt="">
    <img src="{% static 'logo/desing.png' %}" alt="">
</div>-->
</body>
</html>


<!--
<h2 class="gallery-title">Галерея</h2>
<div class="slider-container-wrapper">
    <button class="prev" onclick="prevSlide()">&#10094;</button>
    <div class="slider">
        <div class="slider-container" id="slider-container">
            {% for image in images %}
            {% for slider in sliders %}
            <section id="{{ slider.title|slugify }}">
                <div class="slider-wrapper">
                    {% for slide in slider.slides.all %}
                    <div class="slide">
                        <div class="banner-text">
                            <h2>{{ slide.title }}</h2>
                            <p>{{ slide.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="dots-container" id="{{ slider.title|slugify }}-dots">
                    {% for slide in slider.slides.all %}
                    <span class="dot" onclick="{{ slider.title|slugify }}Slider.currentSlide({{ forloop.counter0 }})"></span>
                    {% endfor %}
                </div>
                <button class="prev" onclick="{{ slider.title|slugify }}Slider.changeSlide(-1)">&#10094;</button>
                <button class="next" onclick="{{ slider.title|slugify }}Slider.changeSlide(1)">&#10095;</button>
            </section>
            {% endfor %}
            <div class="slider-item">
                <img src="/{{ image }}">
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="next" onclick="nextSlide()">&#10095;</button>
</div>
<div class="dots-container">
    {% for image in images %}
    <span class="dot" onclick="currentSlide({{ forloop.counter0 }})"></span>
    {% endfor %}
</div>-->