body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background: #00556A;
}

header {
    background-color: rgb(0, 107, 132);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Убедитесь, что хедер будет сверху всех элементов */
    /* box-shadow: 0 30px 30px 30px rgb(0 0 0 / 65%);*/
    height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: nowrap;
    align-items: center; /* Выровнять элементы по вертикали */
}


.header__center {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
}

.header__right {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__right a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header__logo img {
    max-height: 60px;
    width: auto;
    margin:10px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    font-weight: bold;
}

.header__info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-wrap: wrap;
}

.header__address {
    margin-right: auto;
}

.header__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.header__nav {
    width: 100%; /* Занимает всю ширину блока header__center */
}


.header__nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav ul li {
    position: relative;
}

.header__nav ul li a {
    color: white;
    text-decoration: none;
    gap: 10px;
    display: block; /* Добавляем для лучшей кликабельности */
}

.header__nav ul li a:hover {
    background-color: #005f8a;
}

.dropdown-content {
    top:30px;
    display: none;
    position: absolute;
    background-color: #00788a;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header__nav ul li:hover .dropdown-content {
    display: block;
}

.header__cta .cta-button {
    background-color: #00a6b4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.header__cta .cta-button:hover {
    background-color: #008c98;
}
.menu-button {
    display: none; /* Скрываем кнопку меню по умолчанию */
    background-color: #00788a;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 24px;
    right: 20px;
    background-color: transparent;
}

.menu-button:focus {
    outline: none;
}

.mobile-menu {
    display: none; /* Скрываем мобильное меню по умолчанию */
    position: fixed; /* Фиксированное меню */
    top: 80px; /* Ставим меню сразу под хедером */
    right: 0;
    background-color: rgb(0, 107, 132);
    z-index: 1000; /* Убедитесь, что меню над всем остальным контентом */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    padding-right: 20px;
}

.mobile-menu ul li {
    text-align: center;
    width: 100%;
}

.mobile-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    width: 100%;
}

.mobile-menu.active {
    display: flex; /* Показываем мобильное меню, когда оно активно */
    max-height: 550px; /* Увеличиваем максимальную высоту для отображения контента */
}

.scroll-button {
    position: fixed;
    left: 0px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

#scrollToTop {
    bottom: 80px;
}

#scrollToBottom {
    bottom: 20px;
}

.scroll-button:hover {
    background-color: #008c98;
}


#banner {
    position: relative;
    color: white;
    width:100%;
    height: 100vh;
}
#banner img {
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.banner-text {
    position: absolute;
    left: 75%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    bottom: -60px;
    padding: 30px; /* Добавляем отступы от краев фона */
    width: 50%;
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

.banner-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 120, 138, 0.5); /* Полупрозрачный фон */
    z-index: -1; /* Располагаем позади текста */
}

.banner-text h2 {
    font-size: 48px;
    margin:0;
}

.banner-text p {
    font-size: 36px;
    margin: 0;
}
.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00556A;
}

.slide-img {
    height: 50vh;
}

.slide-text {
    width: 50%;
    padding: 20px;
    color: white;
}
.slide-title {
    width: 100%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
    color: white;
}
.slide-title h2 {
    font-size: 36px;
    margin: 0 0 20px 0;
}


.slide-text h2 {
    font-size: 36px;
    margin: 0 0 20px 0;
}

.slide-text ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1.5;
}

.slide-text ul li::before {
    content: '•';
    color: white;
    padding-right: 10px;
}

.page-about  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}


.page-about p {
    text-align: center;
    margin: 20px;
}

.page-about a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.page-link {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #00a6b4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.page-link:hover {
    background-color: #008c98;
}

.page-logo {
    width: 150px;
}

.cta-button {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #00a6b4;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #008c98;
}



.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    height: 100vh;
    padding:10px;
    background-image: url("images/background.jpeg");
    background-size: cover;
}

.form-container {
    background-color: rgba(0, 120, 138, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    color: white;
}

.form-container h2 {
    margin-top: 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input, .form-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00a6b4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #008c98;
}

.form-footer {
    font-size: 10px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 0;
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1000; /* Располагаем модальное окно над всем остальным контентом */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;/* Максимальная ширина модального окна */
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(0, 120, 138, 0.9); /* Полупрозрачный фон */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.footer {
    background-color: white;
    padding: 40px 40px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    flex-wrap: wrap;
    font-weight: bold;
}

.footer__logo img {
    max-height: 60px;
    width: auto;
}

.footer__columns {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 20px;
}

.footer__column {
    flex: 1;
    margin-right: 20px;
}

.footer__column h3 {
    font-size: 20px;
    margin: 2px;
    font-weight: bold;
}

.footer__column ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}

.footer__column ul li {
    margin-bottom: 10px;
}

.footer__column a {
    color: black;
    text-decoration: none;
}

.footer__column a:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__social a {
    margin: 0 10px;
}

.footer__social img {
    height: 24px;
    width: auto;
}

.footer__map img {
    width: 100%;
    height: auto;
}

.footer__partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__partners img {
    margin: 10px;
    height: 50px;
    width: auto;
}

#banner-slider {
    position: relative;
    color: white;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

#banner-slider .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

#banner-slider .slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#banner-slider .slide img {
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    object-fit: cover;
}



.dots-container {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FEFEFE;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover, .dot.active {
    background-color: #66C3D0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #66C3D0;
    font-weight: bold;
    font-size: 48px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

@media (max-width: 768px) {
    .header__address, .header__cta, .header__time-wrapper, .header__phone{
        display: none; /* Скрываем эти элементы в мобильной версии */
    }
    .menu-button {
        display: block; /* Отображаем кнопку меню в мобильной версии */
    }
    .menu-toggle {
        display: block;
    }
    .page{
        flex-direction: column;
        height: 100vh;
    }
    .header__nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .header__nav ul.active {
        display: flex;
    }

    .header__nav ul li {
        width: 100%;
        text-align: center;
    }

    .header__center, .header__right {
        width: 100%;
        text-align: center;
    }

    .header__top {
        flex-direction: column;
    }

    .header__address, .header__phone {
        margin: 5px 0;
    }
    .mobile-menu.active {
        display: flex; /* Показываем мобильное меню, когда оно активно */
    }

    .header__left, .header__right {
        flex: 1;
    }

    .header__center {
        flex: 2;
    }
    .header__top {
        flex-wrap: nowrap;
    }

    .banner-text h2 {
        font-size: 18px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .slide-text h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .slide-title {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .slide {
        flex-direction: column;
        justify-content: flex-start;
    }

    .slide-img {
        height: 25vh;
    }

    .page-img {
        width: 300px; /* Ширина изображения */
        height: 250px;
    }

    .page-text {
        width: 50%;
        padding: 10%;
    }

    .prev, .next{
        font-size: 36px;
    }

    .page-text h2 {
        font-size: 18px;
    }
    .page-logo {
        max-height: 100px;
    }
    .footer__columns {
        flex-direction: column;
    }
}

/* Breakpoints for specific devices */
/* Smartphones */
@media (max-width: 480px) {
    .header__address, .header__right, .header__phone {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .header__nav ul.active {
        display: flex;
    }

    .header__center, .header__right {
        width: 100%;
        text-align: center;
    }

    .header__top {
        flex-direction: column;
    }

    .banner-text h2 {
        font-size: 18px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .slide-text h2 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .slide-title {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .slide {
        flex-direction: column;
        justify-content: flex-start;
    }

    .slide-img {
        width: 70%;
        height: 25vh;
    }

    .page-img {
        width: 300px;
        height: 250px;
    }

    .page-text {
        width: 50%;
        padding: 10%;
    }
    .page-link {
        font-size: 12px;
    }

    .prev, .next {
        font-size: 24px;
    }

    .page-text h2 {
        font-size: 18px;
    }

    .footer__columns {
        flex-direction: column;
    }
    .form-container {
        width: 100%;
        padding: 10px;
    }

    .form-container input, .form-container textarea {
        font-size: 12px;
    }

    .form-container button {
        font-size: 12px;
        padding: 6px;
    }

    .form-footer {
        font-size: 6px;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .form-container {
        padding: 15px;
    }

    .form-container input, .form-container textarea {
        font-size: 14px;
    }

    .form-container button {
        font-size: 14px;
        padding: 8px;
    }

    .form-footer {
        font-size: 8px;
    }
    .header__nav ul li {
        width: auto;
    }

    .header__center {
        flex-direction: column;
    }
}

/* Netbooks */
@media (min-width: 769px) and (max-width: 1200px) {
    .header__top, .header__right {
        display: none;
    }


.header__center {
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
}

.container{
    font-size: 0.8em;
}

    .menu-button {
        display: none;
    }

    .header__nav ul {
        display: flex;
        justify-content: space-between;
    }

    .header__center {
        width: auto;
        text-align: left;
    }

    .header__top {
        flex-direction: row;
    }

    .banner-text h2 {
        font-size: 36px;
    }

    .banner-text p {
        font-size: 24px;
    }

    .slide-text h2 {
        font-size: 30px;
    }
    .slide-title {
        font-size: 30px;

    }

    .slide {
        flex-direction: row;
    }


    .page-text {
        width: 60%;
        padding: 5%;
    }

    .prev, .next {
        font-size: 42px;
    }

    .footer__columns {
        flex-direction: row;
    }
}

/* Desktops and larger devices */
@media (min-width: 1201px) {
    .header__address, .header__cta, .header__time-wrapper, .header__phone {
        display: block;
    }

    .menu-button {
        display: none;
    }

    .header__nav ul {
        display: flex;
        justify-content: space-between;
    }



    .header__top {
        flex-direction: row;
    }

    .banner-text h2 {
        font-size: 48px;
    }

    .banner-text p {
        font-size: 36px;
    }

    .slide-text h2 {
        font-size: 36px;
    }
    .slide-title {
        font-size: 36px;

    }

    .slide {
        flex-direction: row;
    }


    .page-text {
        width: 70%;
        padding: 5%;
    }

    .prev, .next {
        font-size: 48px;
    }

    .footer__columns {
        flex-direction: row;
    }
}

/* Orientation-specific adjustments */
/* Portrait */
@media (orientation: portrait) {
    .header__center, .header__right {
        flex-direction: column;
    }
    .slide {
        flex-direction: column;
        justify-content: flex-start;
    }
    .header__nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .page-logo {
        display: none;
    }
}

/* Landscape */
@media (orientation: landscape) {
    .header__nav ul {
        flex-direction: row;
    }
    .slide {
        flex-direction: row;
    }
        .page-logo {
        display: none;
    }
        .slide {
            font-size: 0.9em
        }
        header{
            box-shadow: 0 30px 30px 30px rgb(0 0 0 / 30%);
        }
    .form-container {
        padding: 10px;
    }
    .form-container input, .form-container textarea {
        margin-bottom: 5px;
        padding: 5px;
        border: none;
        border-radius: 3px;}
    .dots-container{
        padding: 5px 0;
        bottom: 5px;
    }
    .form-container h2 {
        margin:5px;
    }
    .form-container p {
        font-size: 0.9em;
        margin: 5px;

    }
    .slife img {
        height: 50vh;
    }

}