<!-- base.html -->
{% load cache_busting %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% cache_bust  'styles.css' %}">
</head>
<body>
{% include "includes/header.html" %}
<main>
    {% block content %}{% endblock %}
</main>
{% include "includes/footer.html" %}
</body>
</html>
