{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'slider.css' %}">
</head>
<body>


<nav role="navigation"  id="timeline-desktop" style="opacity: 1; display: block;">
    <ul>
        {% for slider in sliders %}
        <li><a class="timeline-button" href="javascript:void(0);" onclick="scrollToSection('slider{{ slider.title }}')">{{ slider.title }}</a></li>
        {% endfor %}
    </ul>
</nav>

{% for slider in sliders %}
<div class="slider" id="slider{{ slider.title|slugify }}">
    <div class="slider-wrapper">
        {% for slide in slider.slides.all %}
        <div class="slide">
            <img src="{{slide.image.url}}" alt="Рекламное агентство" class="slide-img">
            <div class="slide-text">
                <h2>{{ slide.title }}</h2>
                <p>{{ slide.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endfor %}
<script >
    document.addEventListener('DOMContentLoaded', () => {
        function Slider(sliderId, dotsContainerId) {
            this.currentSlideIndex = 0;
            this.sliderWrapper = document.querySelector(`#${sliderId} .slider-wrapper`);
            this.slides = document.querySelectorAll(`#${sliderId} .slide`);
            this.dots = document.querySelectorAll(`#${dotsContainerId} .dot`);
            this.touchStartX = 0;
            this.touchEndX = 0;

            this.changeSlide = (direction) => {
                this.currentSlideIndex += direction;

                if (this.currentSlideIndex >= this.slides.length) {
                    this.currentSlideIndex = 0;
                } else if (this.currentSlideIndex < 0) {
                    this.currentSlideIndex = this.slides.length - 1;
                }

                this.sliderWrapper.style.transform = `translateX(-${this.currentSlideIndex * 100}%)`;
                this.updateDots();
            };

            this.currentSlide = (n) => {
                this.currentSlideIndex = n;
                this.sliderWrapper.style.transform = `translateX(-${this.currentSlideIndex * 100}%)`;
                this.updateDots();
            };

            this.updateDots = () => {
                if (this.dots.length > 0) {
                    this.dots.forEach(dot => dot.classList.remove('active'));
                    if (this.dots[this.currentSlideIndex]) {
                        this.dots[this.currentSlideIndex].classList.add('active');
                    }
                }
            };

            this.handleTouchStart = (event) => {
                this.touchStartX = event.changedTouches[0].screenX;
            };

            this.handleTouchEnd = (event) => {
                this.touchEndX = event.changedTouches[0].screenX;
                this.handleGesture();
            };

            this.handleGesture = () => {
                if (this.touchEndX < this.touchStartX) {
                    this.changeSlide(1);
                } else if (this.touchEndX > this.touchStartX) {
                    this.changeSlide(-1);
                }
            };

            this.handleMouseDown = (event) => {
                this.touchStartX = event.clientX;
            };

            this.handleMouseUp = (event) => {
                this.touchEndX = event.clientX;
                this.handleGesture();
            };

            if (this.sliderWrapper) {
                this.sliderWrapper.addEventListener('touchstart', this.handleTouchStart);
                this.sliderWrapper.addEventListener('touchend', this.handleTouchEnd);
                this.sliderWrapper.addEventListener('mousedown', this.handleMouseDown);
                this.sliderWrapper.addEventListener('mouseup', this.handleMouseUp);
            }

            if (this.dots.length > 0) {
                this.dots[this.currentSlideIndex]?.classList.add('active');
            }
        }

    {% for slider in sliders %}
        window.slider{{ slider.title|slugify }}Slider = new Slider('slider{{ slider.title|slugify }}', 'slider{{ slider.title|slugify }}-dots');
    {% endfor %}
    });

    function scrollToSection(id) {
        var element = document.getElementById(id);
        element.scrollIntoView({ behavior: 'smooth' });
    }
</script>
</body>
</html>